[submodule "thirdparty/jbig2dec"]
	path = thirdparty/jbig2dec
	url = https://github.com/TamirEvan/jbig2dec.git
[submodule "thirdparty/mujs"]
	path = thirdparty/mujs
	url = https://github.com/TamirEvan/mujs.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/TamirEvan/thirdparty-freetype2.git
[submodule "thirdparty/harfbuzz"]
	path = thirdparty/harfbuzz
	url = https://github.com/TamirEvan/thirdparty-harfbuzz.git
[submodule "thirdparty/jpeg"]
	path = thirdparty/libjpeg
	url = https://github.com/TamirEvan/thirdparty-libjpeg.git
[submodule "thirdparty/lcms2"]
	path = thirdparty/lcms2
	url = https://github.com/TamirEvan/thirdparty-lcms2.git
[submodule "thirdparty/openjpeg"]
	path = thirdparty/openjpeg
	url = https://github.com/TamirEvan/thirdparty-openjpeg.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/TamirEvan/thirdparty-zlib.git
[submodule "thirdparty/freeglut"]
	path = thirdparty/freeglut
	url = https://github.com/TamirEvan/thirdparty-freeglut.git
